



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


:root {
	--timer: white;
	--title: whitesmoke;
	--buttons: white;
  }

body {
	background-color: #9c91ee;
	font-family:  Arial, Helvetica, sans-serif,Verdana, Geneva, Tahoma, sans-serif;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


}


.header{
	background-color:navy;
	position: static;
	top: 0px;
	width: 100%;
	color: white;
	text-align: center;
	height: auto;
	padding: 10px;
}

.header h2 {
	position: absolute;
	margin-top: 20px;
	left: 20%;
}


.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 7vh;
	background-color: navy;
	color: white;
	text-align: center;
	padding: 10px;
}

.mainContainer {
	height: 50vh;
	font-family: helvetica;
	position: static;
  }
 
  
  .container {
	font-family: helvetica;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
  }
  
  .glass {
	display: flex;
	padding-top: 100px;
	padding-bottom: 100px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s all ease;
	height: 200px;
	width: 1000px;
	background: rgba(200, 200, 200, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border-radius: 10px;
  }
  
  .modeSelector {
	display: flex;
	width: 100%;
	justify-content: space-around;
  }
  
  .modeSelector__Button {
	display: flex;
	font-size: 2rem;
	background: none;
	border-radius: 10px;
	border: none;
	outline: none;
	color: var(--buttons);
	padding: 10px;
	margin: 0px 20px;
	width: 100%;
	justify-content: center;
	align-items: center;
  }
  
  .modeSelector__Button.active {
	border: 1px solid var(--buttons);
  }
  
  .timer {
	position: absolute;
	color: var(--timer);
	font-weight: 300;
	font-size: 14vw;
	
  }
  
  .timerControl {
	display: flex;
	flex-direction: row;
	color: var(--buttons);
	font-size: 5vw;
	width: 50%;
	justify-content: space-evenly;
	align-items: center;
  }
 
  


  /* responsiveness */
  
  @media (max-width: 700px) {
	.glass {
		padding-top: 30px;
		padding-bottom: 30px;
	  }
  
	.modeSelector {
	  display: flex;
	  flex-direction: column;
	  width: 70%;
	  justify-content: space-between;
	  align-items: center;
	}
  
	.modeSelector__Button {
	  margin: 5px;
	  font-size: 1rem;
	}
  
	.timer {
	  color: var(--timer);
	  font-weight: 500;
	  font-size: 20vw;
	}
  
	.timerControl {
	  width: 80%;
	  font-size: 3rem;
	}
  }



  
.break-button {
	background-color: #1c87c9;
	border: solid;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: block;
	position: center;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;

}


.square-background{
	height: 480px;
	width: 500px;
	background-color:lightblue;
	text-align: center;
	display:inline block;
	border-radius: 10%;
	margin: auto;
    border: 2px solid purple;
	position: relative;
	top: 100px;
	
}



.form-square-background{
	height: 500px;
	width: 500px;
	background-color:lightblue;
	text-align: center;
	display:inline block;
	border-radius: 10%;
	margin: auto;
    border: 2px solid purple;
	position: relative;
	top: 400px;
	
}




.green-tile-add-button{
	background-color: #1c87c9;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline block;
	font-size: 20px;
	margin: 40px 460px;
	cursor: pointer;
	border-radius: 50%;
	border: 2px solid purple;
	
	

}


	h1 {
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
	}
	
	#container {
		height: 200px;
		width: 700px;
		margin: 0 auto;
		display: grid;
		grid-gap: 40px;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	
	
	/*timers*/
	.label {
		align-self: center;
		justify-self: center;
	
		font-size: 30px;
		font-weight: bold;
	}
	
	#work {
		grid-area: 1 / 2 / 1 / 2;
	}
	#break {
		grid-area: 1 / 4 / 1 / 4;
	}
	#cycles {
		
		grid-area: 1 / 4 / 1 / 4;
		
	}
	
	
	.timer {
		display: flex;
		align-self: center;
		justify-self: center;
	
		font-size: 40px;
		font-weight: bold;
	}
	
	p {
		margin: 0;
		padding: 0;
	}
	
	#counter {
		grid-area: 2 / 4 / 2 / 4;
		color: GREEN;
	}
	
	#work-timer {
		grid-area: 2 / 2 / 2 / 2;
	}
	
	#break-timer {
		grid-area: 2 / 3 / 2 / 4;
	}
	


	#start {
		grid-area: 3 / 2 / 3 / 2;
		width: 100px;
	}
	
	#reset {
		grid-area: 3 / 3 / 3 / 3;
		width: 100px;
	}
	
	#stop {
		grid-area: 3 / 4 / 3 / 4;
		width: 100px;
	}

	#link {
		grid-area: 3 / 3 / 3 / 3;
		width: 100px;
	}

	#begin-app{
		grid-area: 3 ;
		width: 700px;
		align-self: center;
		text-decoration: none;
	}
	


	/*buttons*/
	
	.btn {
		align-self: center;
		justify-self: center;
		font-size: 20px;
		box-shadow: 0px 0px 0px 2px #9fb4f2;
		background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
		background-color:#7892c2;
		border-radius:10px;
		border:1px solid #4e6096;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		padding:12px 50px;
		text-decoration:none;
		text-shadow:0px 1px 0px #283966;
}

.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}


.ButtonContainer {
    display: block;
    width: 100%;
	height: 50px;
    overflow: auto;
    line-height: 0;
    vertical-align: top;
    padding: 10px 0;
}
.ButtonContainer button {
    margin: 0 10px;
}
.ButtonContainer:after {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 100%;
    line-height: 1.5;
}

.linkbutton{
	margin: 10px 10px;
	justify-content: center;
	display: flex;
}



/*Navigation Bar*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: navy;
  }
  
  li {
	   float:right;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover:not(.active) {
	background-color: #111;
  }
  
  .active {
	/*background-color: #04AA6D;*/
  }
  li {
	border-right: 1px solid #bbb;
  }

  #menu li { padding: 0px; }
  #menu li a { margin: 0px; display: block; width: 100%; height: 100%; }
  
/*Adds Underline Effect*/
.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: #0087ca;
  }
  
  .hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #0087ca;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
  }

.bottom{
	padding-bottom: 750px;
}

/*break page styling*/
.break-activity{
	background-color: #1c87c9;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline block;
	font-size: 20px;
	margin: 40px 460px;
	cursor: auto;
	border: 2px solid purple;
	position: relative;
	top: 550px;
	
}

.BBimage img{
	top: 900px;
}

.boxes-title{
	background-color: #1c87c9;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline block;
	font-size: 20px;
	margin: 40px 460px;
	border: 2px solid purple;
	position: static;
}

.links{
	background-color: #1c87c9;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: flex;
	font-size: 20px;
	margin: 40px 460px;
	margin-left: auto;
	margin-right: auto;
	left: 36%;
	border: 2px solid purple;
	position: absolute;
	top: 300px;
	align-items: center;
}

/*Green Checkmark*/
.checkmark{
	color:green;
	font-size:larger;
  }
  
  
  
 