<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>





    <br>
    <br>
    <br>
    <br>
   
  
    <div class="square-background">
           
      <form>
         <h4><b><u>Decide what you would like to do after your work session!</u></b></h4>
         <br>
         <label for="linkURL">link to change to:</label><br>
         <input type="text" id="linkURL" name="linkURL" value="{{link_URL}}"><br>
  
  
         <input type="submit" value="Submit" class="submit-button">
  
       </form> 
  
  
    
  
  
  
  
  
  
  
  
    <!--<a href="/templates/break.html" class="break-button"> Click here to start break! </a>-->
    
  
  </div>
  









    
</body>
</html>