<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>Switch Timer</title>
</head>
<body>
  <header class="header">
    <h1>Productivity Switch Timer </h1>
    
 </header>

 <div class="mainContainer">
  <div class="container">
    <div class="glass">
    
      <h1>Welcome to the Productivity Switch Timer </h1>

      
  <div id="container" class="timer" id="timer" data-mode="pomodoro">
  

  
    <p id="begin-app" ><a href=work style="text-decoration: none;"><button id="begin-app" class="ButtonContainer btn">Lets Go Be Productive!</button></a></p>
  

  
</div>

  </div>
</div>

<!--Form to fill out-->
<!-- 

<div class="form-square-background">
         
  <form>
     <h4><b><u>Decide what you would like to do after your work session!</u></b></h4>
     <br>
     <label for="linkURL">link to change to:</label><br>
     <input type="text" id="linkURL" name="linkURL" value="{{link_URL}}"><br>


     <input type="submit" value="Submit" class="submit-button">

   </form> 

</div>
-->
</div>




















       
        <footer class="footer">
           <h2>&copy; Copyright Switch Timer</h2>
        </footer>
     




        <script src="{{url_for('static', filename='timer.js')}}"></script>


        <div class="bottom">
          <p></p>
       </div>








</body>
</html>






























   






