<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>Switch Timer</title>
</head>
<body>
  <!--This is the homepage / work page-->
  <div class = "header">
    <h1>Switch Timer</h1>
 </div>
 
 

 <div class="mainContainer">
  <div class="container">
    <div class="glass">
      <div class="modeSelector">
        <button
          class="modeSelector__Button active"
          id="pomodoroButton"
          data-mode="pomodoro"
         
        >
          Pomodoro
        </button>
        <button
          class="modeSelector__Button active"
          id="shortButton"
          data-mode="short"
          
        >
          Short Break
        </button>
        <button
          class="modeSelector__Button active"
          id="longButton"
          data-mode="long"
          
        >
          Long Break
        </button>
      </div>
      <div class="timerControl">
        <!-- <i class="fa fa-refresh" id="restart" aria-hidden="true"></i> -->
        <i
          class="fa fa-play"
          id="toggle"
          data-paused="true"
          aria-hidden="true"
        ></i>
        <!-- <i class="fa fa-pause" id="pause" aria-hidden="true"></i> -->
        <!-- <i class="fa fa-stop" aria-hidden="true"></i> -->
      </div>
    </div>
    <h1 class="timer" id="timer" data-mode="pomodoro">25:00</h1>
  </div>




  <!--<a href="/templates/break.html" class="break-button"> Click here to start break! </a>-->
  

</div>























       
        <footer class="footer">
           <h2>&copy; Copyright Switch Timer</h2>
        </footer>
     




        <script src="{{url_for('static', filename='timer.js')}}"></script>










</body>
</html>