<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='work_style.css') }}" type"text/css">
        <title>Work Time</title>
    </head>
    <body>
        <div class = "header">
            <h1>Work Time</h1>
         </div>
        <h3>Tasks:<br></h3>
        <h4>
            <label for="checkc1">Task 1:</label>
            <input type="checkbox" id="checkc1" name="checkc1">
            <input type="text" id="checkt1" name="checkt1" placeholder="Enter task here..."><br>
            <label for="checkc2">Task 2:</label>
            <input type="checkbox" id="checkc2" name="checkc2">
            <input type="text" id="checkt2" name="checkt2" placeholder="Enter task here..."><br>
            <label for="checkc3">Task 3:</label>
            <input type="checkbox" id="checkc3" name="checkc3">
            <input type="text" id="checkt3" name="checkt3" placeholder="Enter task here..."><br>
        </h4>

        <footer class = "footer">
            <h2>&copy; Copyright Switch Timer</h2>
         </footer>
    </body>
</html>