<html>
    <head>
        WORK TIME
    </head>
    <body>
        <h1>Tasks:<br></h1>
        <h2>
            <label for="checkc1">Task 1:</label>
            <input type="checkbox" id="checkc1" name="checkc1">
            <input type="text" id="checkt1" name="checkt1" placeholder="Enter task here..."><br>
            <label for="checkc2">Task 2:</label>
            <input type="checkbox" id="checkc2" name="checkc2">
            <input type="text" id="checkt2" name="checkt2" placeholder="Enter task here..."><br>
            <label for="checkc3">Task 3:</label>
            <input type="checkbox" id="checkc3" name="checkc3">
            <input type="text" id="checkt3" name="checkt3" placeholder="Enter task here..."><br>
        </h2>
    </body>
</html>